<nav class="bg-slate-900 py-2 ">
  <div class="navbar container w-[90%] m-auto flex justify-between items-center">
    <div class="text-blue-500 ">
      <img [src]="imageLogo" class="w-12" alt="">
    </div>
    <ul class="flex items-center justify-between text-blue-500 ">
      <li class="me-4 hover:text-blue-300 hover:cursor-pointer"><a routerLink="home">home </a></li>
      <li class="mx-4 hover:text-blue-300 hover:cursor-pointer"><a routerLink="about">about </a></li>
      <li class="ms-4 hover:text-blue-300 hover:cursor-pointer"><a routerLink="contact">contact us </a></li>
      <li class="ms-4 hover:text-blue-300 hover:cursor-pointer"><a routerLink="products">products </a></li>
    </ul>
  </div>
  </nav>
