<section class="w-[90%] m-auto mt-4">
  <h2 class="text-center text-blue-600 font-bold text-2xl">Products</h2>
  <div class="grid grid-cols-12">
    <div class="item col-span-4 p-3">
      <div class="product border shadow-lg">
        <img [src]="products[0].productImage" class="w-full" alt="sleek-wirless">
        <div class="flex items-center justify-between px-3">
          <p>{{products[0].productName}}</p>
          <span class="p-4 mt-3 py-2 bg-blue-600 hover:bg-blue-700 text-white">add to card</span>
        </div>
        <div class="flex items-center justify-between px-3">
          <span class="text-blue-500 ">{{ products[0].price }}$</span>
          <span *ngIf="products[0].onSale" class="text-red-500">On Sale</span>
          </div>
        </div>
      </div>
      <div class="item col-span-4 p-3">
        <div class="product border shadow-lg">
          <img [src]="products[1].productImage" class="w-full" alt="sleek-wirless">
          <div class="flex items-center justify-between px-3">
            <p>{{products[1].productName }}</p>
            <span class="p-4 mt-3 py-2 bg-blue-600 hover:bg-blue-700 text-white">add to card</span>
          </div>
          <div class="flex items-center justify-between px-3">
            <span class="text-blue-500 ">{{ products[1].price }}$</span>
            <span *ngIf="products[1].onSale" class="text-red-500">On Sale</span>
            </div>
          </div>
        </div>
        <div class="item col-span-4 p-3">
          <div class="product border shadow-lg">
            <img [src]="products[2].productImage" class="w-full" alt="sleek-wirless">
            <div class="flex items-center justify-between px-3">
              <p>{{products[2].productName }}</p>
              <span class="p-4 mt-3 py-2 bg-blue-600 hover:bg-blue-700 text-white">add to card</span>
            </div>
            <div class="flex items-center justify-between px-3">
              <span class="text-blue-500 ">{{ products[2].price }}$</span>
              <span *ngIf="products[2].onSale" class="text-red-500">On Sale</span>
              </div>
            </div>
          </div>


        </div>
</section>
